doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css')
  link(rel='stylesheet' href='css/form.css')
.navContainer
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo02' aria-controls='navbarTogglerDemo02' aria-expanded='false' aria-label='Toggle navigation')
       span.navbar-toggler-icon
    #navbarTogglerDemo02.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        li.nav-item
          a#home.nav-link(href='/') home
        li.nav-item.active
          a.nav-link(href='/chart')
            | chart
            span.sr-only (current)
        li.nav-item
          if loggedIn === false
            a#logIn.nav-link(href='/logIn/0').text-secondary log in/sign up
          else
            a.nav-link.text-secondary #{user_name}
            li.nav-item
              a#logIn.nav-link(href='/logOut').text-secondary log out
      form.form-inline.my-2.my-lg-0(action='/search' method='POST')
        input.form-control.mr-sm-2(type='search' placeholder='Search' name='searchFor' required='')
        label(for='category') in:&nbsp;
        select.browser-default.custom-select(name='category')
          option(value='games') Games
        button.btn.btn-success.my-2.my-sm-0(type='submit')
          | Search
form#form.container.bg-light.border.rounded.w-50.mx-auto.mt-5.p-3(action='/newUserAdded' method='POST')
  h2#contact.mt-2.mb-4 Create Your Account
  .form-group.row
    label(for='name') Name 
    input#name.form-control(type='name' required='' name='name' )
  .form-group.row
    label(for='password') Password 
    input#password.form-control(type='password' required='' name='password' )
  .form-group.row
    label(for='email') Email 
    input#email.form-control(type='email' required='' name='email')
  //- .form-group.row
  //-   label(for='birth') Birth date
  //-   input#name.form-control(type='text' required='' name='birth' )
  //- .form-group.row
  //-   label(for='city') City
  //-   input#name.form-control(type='text' required='' name='city' )
  //- .form-group.row
  //-   label(for='country') Country
  //-   select#exampleFormControlSelect1.form-control 
  //-                   for p in countries
  //-                       option(value='country') #{p}
  //- .form-group.row
  //-   label(for='console') Favorite Console
  //-   select#exampleFormControlSelect1.form-control 
  //-                   for c in consoles
  //-                       option(value='console') #{c}
  button#formButton.btn.btn-info(type='submit')
    | Create Account &gt;&gt;
