doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
  link(rel='stylesheet' href='chart.css')
  title RateYourGame2020
.navContainer
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a#title.navbar-brand(href='#') Best of 2020
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo02' aria-controls='navbarTogglerDemo02' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarTogglerDemo02.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        li.nav-item
          a#home.nav-link(href='/') home
        li.nav-item.active
          a.nav-link(href='/chart')
            | chart
            span.sr-only (current)
        li.nav-item
          a#logIn.nav-link(href='/logIn') log in/sign up
      form.form-inline.my-2.my-lg-0(action='/search' method='POST')
        input.form-control.mr-sm-2(type='search' placeholder='Search' name='searchFor' required='')
        label(for='category') in:&nbsp;
        select.browser-default.custom-select(name='category')
          option(value='games') Games
          option(value='consoles') Consoles
          option(value='companies') Companies
          option(value='personnel') Personnel
          option(value='users') Users
        button.btn.btn-success.my-2.my-sm-0(type='submit')
          | Search
// Create the form that will submit a database query (and make a chart)
form(action='/gen' method='POST')
  .form-group
    label(for='list1') Console:
    select#list1.form-control(name='Console')
      option Any
      option Odyssey
      option C-100 (Pong)
      option Telstar Classic
      option Color TV Game
      option Atari 2600
      option Intellivision
      option Colecovision
      option SG-1000
      option Famicon
      option Nintendo Entertainment System
      option Sega Master System
      option Atari 7800
      option Turbo GrafX-16
      option Sega Genesis
      option Super NES
      option Neo Geo
      option 3DO
      option Atari Jaguar
      option Sega Saturn
      option Playstation
      option Nintendo 64
      option Dreamcast
      option Playstation 2
      option Gamecube
      option Xbox
      option Xbox 360
      option Playstation 3
      option Wii
      option Wii U
      option Playstation 4
      option Xbox One
      option Nintendo Switch
      option Arcade
      option Mobile
      option PC
      option GameBoy
      option Lynx
      option Game Gear
      option Nintendo DS
      option PLaystation Portable
      option Nintendo 3DS
      option Playstation Vita
  .form-group
    label(for='list2') Company:
    select#list2.form-control(name='Company')
      option Any
      option MagnaVox
      option Atari
      option Coleco
      option Nintendo
      option Mattel
      option Sega
      option NEC
      option SNK
      option 3DO
      option Sony
      option Microsoft
      option Taito
      option Midway
      option Namco
      option Williams Electronics
      option Bandai
      option Tengen
      option HAL
      option Hudson Soft
      option GT Interactive
      option General Computer Corporation
      option Vid Kidz
  .form-group
    label(for='list3') Genre:
    select#list2.form-control(name='Genre')
      option Any
      option Action
      option Action role-playing
      option Action-adventure
      option Adventure
      option Beat em up
      option City-building
      option Fighting
      option First-person shooter
      option Kart racing
      option Life simulation
      option Maze
      option MMORPG
      option Moba
      option Platform
      option Puzzle
      option Puzzle-platformer
      option Racing
      option Real-time strategy
      option Real-time tactics
      option Rythm
      option Roleplaying
      option Run and gun
      option Sandbox
      option Shoot em up
      option Space flight simulator
      option Sports
      option Stealth
      option Strategy
      option Survival horror
      option Tactical roleplaying
      option Third-person shooter
      option Top-down shooter
      option Turn-based strategy
      option Turn-based tactics
  button.btn.btn-success.my-2.my-sm-0(type='submit') Create chart
  for result in Results
    td #{result.user_name}

// <script src="chartDB.js"></script>
