body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: #555;
}

.navContainer {
  background-color: blueviolet;
}

#title {
  color: purple;
}

#inside {
  margin-top: auto;
}

#formTitle {
  text-align: center;
  color: lightseagreen;
}

#addSeries,
#addconsole {
  margin-top: 20px;
  margin-left: 20px;
}

#submit,
#clear {
  margin-top: 40px;
  margin-left: 20px;
}

#man {
  margin-top: 20px;
}

#sameAsPub {
  margin-left: 20px;
}

#sameAsPub2 {
  margin-left: 40px;
}
