body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: #555;
}

.navContainer {
  background-color: blueviolet;
}

#title {
  color: purple;
}

#left {
  background-color: mediumpurple;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#right {
  background-color: mediumpurple;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

#button {
  color: white;
  background-color: mediumpurple;
  margin-left: 10px;
}

#color {
  color: white;
}

#top {
  border-bottom: 30px solid;
  border-color: white;
}
