body {
  background-color: white;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  border: 1px solid;
  border-color: black;
  background-color: white;
  width: 90%;
  margin-top: 50px;
  border-radius: 8px;
  max-width: 400px;
}

#contact {
  text-align: center;
  margin: 30px;
}

.form-group {
  margin: 10px;
  margin-bottom: 30px;
}

.form-check {
  margin-left: 10px;
}

#formButton {
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 10px;
  width: 95%;
}
