body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: #555;
}

.navContainer {
  background-color: blueviolet;
}

#title {
  color: purple;
}

.row {
  margin-top: 50px;
}

.left-grid-container {
  background-color: whitesmoke;
  margin-left: 10px;
  margin-right: 10px;
}

.right-grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 100px);
}

.grid-item {
  border: 1px solid;
  border-color: white;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

#reviews {
  text-align: right;
  background-color: mediumpurple;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 20px;
  color: black;
}

#game {
  color: dodgerblue;
}

#rating {
  color: crimson;
}

.item1,
.item2,
.item3,
.item4,
.item5 {
  margin: auto;
  padding: 20px;
  border: 1px solid;
  border-color: white;
}

.item6 {
  grid-column: 1 / 6;
}

.item7 {
  grid-column: 1 / 6;
  background-color: white;
  border-color: whitesmoke;
}

.item8 {
  grid-column: 1 / 6;
}

.item9 {
  grid-column: 1 / 6;
  background-color: white;
  border-color: whitesmoke;
}

.item10 {
  grid-column: 1 / 6;
}

.item11 {
  grid-column: 1 / 6;
  background-color: white;
  border-color: whitesmoke;
}

.item12 {
  grid-column: 1 / 6;
}

.item13 {
  grid-column: 1 / 6;
  background-color: white;
  border-color: whitesmoke;
}

.item14 {
  grid-column: 1 / 6;
}

.item15 {
  grid-column: 1 / 6;
  background-color: white;
  border-color: whitesmoke;
}
