body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: #555;
}

.navContainer {
  background-color: blueviolet;
}

#title {
  color: purple;
}

.row {
  margin-top: 50px;
}

.left-grid-container {
  background-color: whitesmoke;
  margin-left: 10px;
  margin-right: 10px;
}

.right-grid-container {
  background-color: whitesmoke;
  margin-left: 10px;
  margin-right: 10px;
}

.grid-item {
  border: 1px solid;
  border-color: white;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

#reviews {
  text-align: right;
  background-color: mediumpurple;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 20px;
  color: white;
}

#game {
  color: dodgerblue;
}

#rating {
  color: crimson;
  margin-top: 10px;
}

.item1,
.item2,
.item3,
.item4,
.item5 {
  margin: auto;
  padding: 20px;
  border: 1px solid;
  border-color: white;
}

.item6 {
  grid-column: 1 / 6;
}

.item7 {
  grid-column: 1 / 6;
  background-color: white;
  border-color: whitesmoke;
}

.item8 {
  grid-column: 1 / 6;
}

.item9 {
  grid-column: 1 / 6;
  background-color: white;
  border-color: whitesmoke;
}

.item10 {
  grid-column: 1 / 6;
}

.item11 {
  grid-column: 1 / 6;
  background-color: white;
  border-color: whitesmoke;
}

.item12 {
  grid-column: 1 / 6;
}

.item13 {
  grid-column: 1 / 6;
  background-color: white;
  border-color: whitesmoke;
}

.item14 {
  grid-column: 1 / 6;
}

.item15 {
  grid-column: 1 / 6;
  background-color: white;
  border-color: whitesmoke;
}

/*used in game.pug*/
#inCollection {
  margin-top: 20px;
}

#reviewForm {
  margin-top: 20px;
  margin-left: 10px;
}

#resetForm {
  margin-left: 10px;
}

#review {
  margin: 20px;
}

#ratingForm {
  margin: 40px;
}

#searchResults {
  text-align: center;
  margin-top: 20px;
}

/*user page*/

#userLeftBar,
#userRightBar,
#reviewForm,
#formButton,
#resetForm {
  background-color: mediumpurple;
  color: white;
}

#userLeftMain,
#userWish,
#ratingForm {
  background-color: mediumpurple;
  border-radius: 10px;
}

#userText {
  color: white;
}

#addGameButton {
  color: white;
  background-color: mediumpurple;
  border-radius: 6px;
}
